---
import { isAuthenticated } from '../utils/auth';
import Layout from '../layouts/Layout.astro';
import { GET } from './api/products';
import type Product from '../interfaces/products';
import { Image } from 'astro:assets';
import ProductCard from '../components/ProductCard.astro';

const response = await GET(Astro);
const products = await response.json();

const imgUrl = `${import.meta.env.BASE_URL}`;
---

<Layout title="Home">
  <div class="hero-section">
    <h1><span>Y</span>as<span>S</span>tore</h1>
    <p>Buy the best products at the best prices</p>
  </div>

  <!-- <p>
    {isAuthenticated ? 'You are authenticated' : 'You are not authenticated'}
  </p> -->
  <div class="product-cards-container">
    {
      products.map((product: Product) => (
        <ProductCard
          image={
            'http://localhost:1337' +
            product.attributes.image.data[0].attributes.url
          }
          id={product.id}
          title={product.attributes.title}
          price={product.attributes.price}
        />
      ))
    }
  </div>
</Layout>
