---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register">
    <h1>Register</h1>
    <form action="/api/register" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        <label for="name">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Register</button>
    </form>
</Layout>