---
const { description, title } = Astro.props;
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/global.css" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <section>
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
