---
import { isAuthenticated, user } from '../utils/auth';
---

<header>
  <nav class="nav">
    <div class="nav-left">
      <div class="nav-left-logo">
        <a href="/">
          <img src="/logo.png" alt="Logo" />
        </a>
      </div>
      <div class="nav-left-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-right-links">
        {
          isAuthenticated ? (
            <a href="/logout">Logout</a>
          ) : (
            <p>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            </p>
          )
        }
      </div>
    </div>
  </nav>
</header>
